<section data-ng-controller="JobsController">
  <div class="page-header">
    <h1>New Job</h1>
  </div>  
    <div class="col-md-12">
      <form class="form-horizontal" data-ng-submit="create()" novalidate>
        <fieldset>
          <div class="form-group">
            <label class="control-label" for="company">Company</label>
            <div class="controls">
              <input type="text" data-ng-model="company" id="company" class="form-control" placeholder="Comapny Name" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="title">Job Title</label>
            <div class="controls">
              <input type="text" data-ng-model="title" id="name" class="form-control" placeholder="Job Title" required>
            </div>
          </div>
          <div class="form-group">
             <label class="control-label" for="job_type">Job Type</label>
             <div class="controls">
               <select data-ng-model="job_type" id="job_type" class="form-control" required>
                 <option value="0" selected>Select Job Type</option>
                 <option value="Accounting">Accounting</option>
                 <option value="Automotive">Automotive</option>
                 <option value="Banking">Banking</option>
                 <option value="Construction">Construction</option>
                 <option value="Education">Education</option>
                 <option value="Engineering">Engineering</option>
                 <option value="General Business">General Business</option>
                 <option value="Human Resources">Human Resources</option>
                 <option value="Hotel">Hotel</option>
                 <option value="Insurance">Insurance</option>
                 <option value="Legal">Legal</option>
                 <option value="Manufacturing">Manufacturing</option>
                 <option value="Marketing">Marketing</option>
                 <option value="Other">Other</option>
                 <option value="Retail">Retail</option>
                 <option value="Technology">Technology</option>
                 <option value="Telecommunications">Telecommunications</option>
                 <option value="Transportation">Transportation</option>
               </select>
             </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="location">Location</label>
            <div class="controls">
              <input type="text" data-ng-model="location" id="location" class="form-control" placeholder="Location" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="how_to_apply">How To Apply</label>
            <div class="controls">
              <input type="radio" data-ng-model="how_to_apply" id="how_to_apply" value="email" checked> Email
              <input type="radio" data-ng-model="how_to_apply" id="how_to_apply" value="website"> Website
              <input type="radio" data-ng-model="how_to_apply" id="how_to_apply" value="phone"> Phone
              <input type="radio" data-ng-model="how_to_apply" id="how_to_apply" value="other"> Other
            </div>
          </div>
        </fieldset>
      </form>
    </div>
</section>